
.header {
  background-color: rgb(49, 44, 44);
  padding: 10px;
  color: aliceblue;
  text-align: center;
}

ul, li {
  list-style: none;
}

.lista-conteudos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudos {
  background-color: rgb(49, 44, 44);
  height: 80px;
  width: 300px;
  padding: 10px;
  color: aliceblue;
  font-size: 22px;
  border-radius: 8px;
  box-shadow: -5px 5px 8px black;
  margin: 10px;
  text-align: center;
}

.footer {
  background-color: rgb(49, 44, 44);
  padding: 10px;
  color: aliceblue;
  text-align: center;
  padding: 8px;
}
