* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 268px;
}

.menu-container {
  display: flex;
  order:1;
  flex: 1 768;
  align-self:center;
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container {
  display: flex;
  flex-direction: column;
  flex-basis: 700px;
}

.movie-container h2 {
  margin: 40px 0;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 10;
}

.card-container div {
  align-items: center;
  background-color: #5C687C;
  border: black solid 1px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 10px;
  flex-basis: 16%;
  flex-grow: 100;
}

.aside-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex-basis: 350px;
  align-items: center;
  justify-content: center;
}

.aside-container h3, h4 {
  margin-bottom: 10px;
  text-align: center;
}

.aside-container p {
  margin: 10px 0;
  text-align: justify;
}